/*
Theme Name: Heap Child
Theme URI: http://pixelgrade.com/demos/heap
Author: PixelGrade Team
Author URI: http://pixelgrade.com
Template: heap
Description:  HEAP is a personal WordPress Blog Theme and an effortlessly tool for publishers of all kind, cherished for its flexibility, clean layouts and speed.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: heap_txtd
Tags: black, orange, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
*/

/* Add your custom CSS rules that overwrite the ones in the main Lens theme here */

.single-post .article__featured-image img, .page__featured-image img {
  width: auto;
  margin: 0 auto;
}
.page__featured-image {
  text-align: center;
}

/*side bar top-celebs*/
.top-celeb, .top-content-item {
	float: left;
  max-width: 75px;
  text-align: center;
}
.col-3 .top-content-item {
  max-width: 100px;
}
.col-2 .top-content-item {
  max-width: 150px;
}
.col-1 .top-content-item {
  max-width: 300px;
}

.top-celeb img, .top-content-item img {
  margin-bottom: -5px;
}
.widget .top-celebs, .top-content {
  font-size: 0.7rem;
  line-height: 1.32429;
  float: left;
  max-width: 300px;
}

.top-celeb, .top-content-item {
	float: left;
}
.widget { 
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}
/*body {
  background-image: url('/wp-content/uploads/2015/04/olvpattern.jpg');
}*/
.next-loader {
  width: 75px;
  margin: 0 auto;
}

.title-center-text a {
  text-transform: lowercase;
  color: rgb(216, 107, 67);
}
.header-component--left .site-title--image img {
 padding-bottom: 18px;
  margin-bottom: -9px;
}

.header--small .site-title--small img {
  max-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -12px;
}

.pre-content li {
	list-style-type: none;
  width: 100%;
}
.pre-content .widget {
	padding: 0;
	margin: 0;
}
.pre-content-widget {
  width: 100%;
  float: none;
}
.code-block.code-block-1 {
  margin-right: 325px!important;
}
ul.pre-content {
  margin-left: 0px;
}
.page-content {
  padding-top: 5px;
}

h3.widget__title {
  margin-bottom: 5px;
}

ins.adsbygoogle {
	border-bottom: none;
}
.article-archive--masonry .article__featured-image a {
  max-width: 300px;
  margin: 0 auto;
}

.site-title--image img {
  margin: 0;
  }

  .header-component--center .site-title--image img {
  margin: 0 auto;
}
  .site-title--small {
  text-align: left;
}
.site-title.site-title--small.title-center-text {
  text-align: center;
  font-style: italic;
}
.container {
  padding-top: 172px;
}

.omsc-toggle-title {
  color: rgb(210, 78, 29);
  font-weight: bold;
}
.omsc-toggle-title:after {
  color: rgb(210, 79, 30);
}

[class^="icon-e-"]:before, [class*=" icon-e-"]:before {
  width: 20px;
  margin-right: 0em;
  margin-left: 0;
}
.site-header__menu a {
  padding-left: 5px;
  padding-right: 2px;
}
.twitter-tips img {
  vertical-align: middle;
}

.bawmrp_manual {
  float: left; 
  width: 22%; 
  height: auto; 
  overflow: hidden; 
  list-style: none; 
  border-right: 1px solid #ccc;
   text-align: center;
   padding: 0px 5px;
  }

  a.addthis_native_counter.addthis_counter.addthis_bubble_style {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
a.addthis_native_counter_sibling {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.entry__meta-box a.btn {
  color: rgb(210, 78, 29);
  font-weight: bold;
}
article a {
  color: rgb(210, 78, 29);
}

@media only screen and (min-width: 900px) {
.blog-archive--masonry-full {
  padding: 5px 0;
}
.header--sticky .site-header__container .flexbox, .header--sticky .site-header__container .navigation--main {
  padding-left: 70px;
  padding-right: 70px;
}
}
@media only screen and (max-width: 1006px) {
  li.twitter-li {
  margin-left: -10px;
}

  .site-header__menu a {
  padding-left: 0px;
  padding-right: 1px;
}
}

@media only screen and (max-width: 899px) {
.site-title--image {
  max-width: 100%;
}
.site-header__menu {
  float: left;
  width: 35px;
}
.site-header .header-component--left {
  width: 40%;
}
.site-title--image img {
  max-width: 120px;
  margin-left: 65px;
  padding: 0 0;
}
.site-header .header-component {
  vertical-align: top;
}
.header-component--center .site-title--image img {
  max-width: 175px;
}
.site-header__menu a {
  padding: 7px;
}
.navigation--main .nav--main li a {
  padding: 5px 0;
  font-size: .8rem;
  line-height: .8;
}
}

@media only screen and (max-width: 599px) {
.site-header .header-component--left {
  width: 130%;
}
.site-title--image img {
  max-width: 110px;
  margin: 0 auto;
}
.site-header .header-component--center {
  display: none;
}
.header-component--center .site-title--image img {
  max-width: 171px;
}
.site-header .header-component--right {
  width: 13%;
}
.top-celebs, .top-content {
  max-width: 310px;
}
.widget {
  max-width: 300px;
}
.bawmrp_manual {
  width: 48%; 

  }
}
